@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoTemplate.Web.Models.WidgetText>
<div class="widgetItem widgetText">
    @(Model.Title)
    @(Model.Text)
    <a href="@Model.Url.Url" target="@Model.Url.Target">@Model.Url.Title</a>
</div>